/* PC */
@media only screen and (min-width: 1024px){
    /* css */
}

/* Tablet & Mobile */
@media only screen and (max-width: 1023px){
    .btn{
        padding: 15px 16px;
    }

    #nav .subnav a{
        padding: 5px 12px;
    }

    .contact-form .form-control{
        padding: 15px;
        font-size: 16px;
    }

    .content-section .contact-content .contact-info{
        line-height: 2;
    }

    .socials-list{
        font-size: 48px;
    }
    
    .socials-list a{
        margin: 0 8px;
    }

    #footer .copyright a{
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet */
@media only screen and (max-width: 1023px) and (min-width: 739px){
    /* css */
}

/* Mobile */
@media only screen and (max-width: 740px){
    /* css */
    /* begin common */
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }

    .s-mt-8{
        margin-top: 8px !important;
    }

    /* end common */
    
    #content .member-img{
        width: 60%;
    }

    .content-section .place-item{
        width: 100%;
    }

    .contact-form{
        margin-top: 32px;
    }

    #header{
        overflow: hidden;
    }
    
    #header .search-bnt{
        display: none;
    }

    #header  .mobile-menu-btn{
        display: block;
    }

    #nav{
        display: block;
    }

    #nav li a{
        padding: 1px 24px;
    }

    #nav > li{
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav{
        position: initial;
        background-color: #333;
    }

    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }
}